<!DOCTYPE html>
<html lang="en">
    {% load static %}
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>UVIndex</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootswatch/4.6.0/darkly/bootstrap.min.css">
</head>
<body>
    <div class="navbar fixed-top navbar-dark">
        <div class="container">
            <a href="../" class='navbar-brand'>UVINDEX</a>
        </div>
        <nav class="navbar">
            <form action="" method='post' class='col-md'>
                {% csrf_token %}
                <div class="input-group">
                    <input type="text" class="form-control" name='city' placeholder="Ciudad">
                    <div class="input-group-button"><button type="submit" class="btn btn-primary">Buscar</button></div>
                </div>
            </form>
        </nav>
    </div>
    <br>
    <div class="row">
        {% if country_code and coordinate and temp and pressure and humidity %}
        <div class="col d-flex justify-content-center">
            <div class="card mb-6">
                <div class="card-body">
                    <h4><span class="badge badge-primary">Country code: </span> {{country_code}}</h4>
                    <h4><span class="badge badge-primary">Coordinates: </span> {{coordinate}}</h4>
                    <h4><span class="badge badge-primary">Temperature: </span> {{temp}}</h4>
                    <h4><span class="badge badge-primary">Pressure: </span> {{pressure}}</h4>
                    <h4><span class="badge badge-primary">Humidity: </span> {{humidity}}</h4>
                    <h4><span class="badge badge-primary">Forecast: </span> {{main}} <img src="http://openweathermap.org/img/w/{{icon}}.png" alt="Clima" width="70px"> </h4>
                    <h4><span class="badge badge-primary">Description: </span> {{description}} </h4>
                </div>                
            </div>
        </div>
        {% endif %}
    </div>
</body>
</html>